<div class="container mt-5">
  <h3>Ask your coach anything:</h3>
  <form action="answer" class="form-inline" data-turbo="false">
    <div class="input-group">
      <input type="text" name="question" class="form-control" placeholder="Ask your coach anything...">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Ask</button>
      </div>
    </div>
  </form>
</div>

